<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.y3wegy.web.provider.mapper.master.web.MenuMapper">
    <resultMap id="MenuResMap" type="com.y3wegy.base.web.bean.web.MenuDto">
        <id column="ID" property="id"/>
        <result column="MENU_CD" property="menuCd"/>
        <result column="DISPLAY_NAME" property="displayName"/>
        <result column="DISABLED" property="disabled" typeHandler="org.apache.ibatis.type.BooleanTypeHandler"/>
        <result column="MENU_ORDER" property="order"/>
        <result column="MENU_TYPE" property="menuType" javaType="com.y3wegy.base.web.bean.web.MenuType"/>
        <result column="PARENT_ID" property="parentMenuId"/>
    </resultMap>

    <select id="getSimpleMenuData" resultMap="MenuResMap">
        SELECT ID, MENU_CD, DISPLAY_NAME, DISABLED, MENU_ORDER, MENU_TYPE, PARENT_ID
        FROM MENU_CTL
        ORDER BY MENU_ORDER ASC
    </select>

</mapper>
