<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.y3wegy.mapper.business.FileMapper">
    <resultMap id="FILE" type="com.y3wegy.bean.business.FileDto">
        <id property="id" column="ID" javaType="String" jdbcType="NVARCHAR"/>
        <result property="fileName" column="FILE_ID" javaType="String" jdbcType="NVARCHAR"/>
        <result property="content" column="CONTENT" javaType="byte[]" jdbcType="BLOB"/>
        <result property="lastUpdateBy" column="LAST_UPDATE_BY" javaType="String" jdbcType="NVARCHAR"/>
        <result property="lastUpdateDate" column="LAST_UPDATE_DATE" javaType="Date" jdbcType="DATE"/>
    </resultMap>
    <insert id="save" parameterType="com.y3wegy.bean.business.FileDto" useGeneratedKeys="true" keyProperty="id"
            keyColumn="ID">
        <!--<selectKey resultType="java.lang.String" order="AFTER" keyProperty="ID">-->
        <!--SELECT LAST_INSERT_ID() as ID-->
        <!--</selectKey>-->
        INSERT INTO UPLOAD_FILE(ID,FILE_NAME, CONTENT, LAST_UPDATE_BY, LAST_UPDATE_DATE)
        VALUES (T_FILE_SEQ.NEXTVAL,#{fileName},
        #{content,javaType=byte[],jdbcType=BLOB, typeHandler=org.apache.ibatis.type.BlobTypeHandler},
        #{lastUpdateBy},
        current_date)
    </insert>

    <select id="query" parameterType="com.y3wegy.bean.business.FileDto" resultMap="FILE">
        SELECT *
        FROM UPLOAD_FILE
        WHERE ID = #{id}
    </select>

    <delete id="delete" parameterType="com.y3wegy.bean.business.FileDto">
        DELETE
        FROM UPLOAD_FILE
        WHERE ID = #{id}
    </delete>
</mapper>