<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.y3wegy.web.provider.mapper.master.user.UserMapper">
    <resultMap id="userResultMap" type="com.y3wegy.base.web.bean.user.SecurityUser">
        <id column="ID" property="id"/>
        <result column="USER_NAME" property="userName"/>
        <result column="NICK_NAME" property="nickName"/>
        <result column="USER_SEX" property="userSex" javaType="com.y3wegy.base.web.bean.user.UserSex"/>
        <result column="PASSWORD" property="password"/>
        <collection property="userRoleList" ofType="com.y3wegy.base.web.bean.user.UserRole">
            <result column="ROLE_NAME" property="userRole"/>
        </collection>
    </resultMap>

    <select id="queryUserByUserName" resultMap="userResultMap" parameterType="java.lang.String">
        select u.ID, u.USER_NAME, u.NICK_NAME, u.USER_SEX, u.PASSWORD,r.ROLE_NAME
        from USERS u
                 left join USER_ROLES ur ON u.ID = ur.USER_ID
                 JOIN ROLE r ON ur.ROLE_ID = r.ID
        where USER_NAME = #{userName}
    </select>

</mapper>
